.book-list-container {
	height: calc(100vh - 128px);
	overflow: auto;
	padding: 40px 0;

	.content-enter {
		opacity: 0;
	}
	.content-enter-active {
		opacity: 0;
		transition: opacity 300ms, transform 300ms;
	}
	.content-exit {
		opacity: 1;
	}
	.content-exit-active {
		opacity: 0;
		transition: opacity 100ms, transform 100ms;
	}
}
